#headerDiv {
    background-color: darkslategray;
    text-align: center;
    color: white;
    margin: 20px;
    padding: 30px;
}

#tableDiv {
    background-color: darkslategray;
    text-align: left;
    color: white;
    margin: 20px;
}

#addTrainDiv {
    background-color: darkslategray;
    text-align: left;
    color: white;
    margin: 20px;
}